*.bed
*.tsv
*.tsv.gz
*.bedgraph*
*.bedGraph*
*.txt
*.png
.venv
__pycache__
*.code-workspace
.gitignore
.DS_Store
.snakemake
*.bat
run_analysis.ps1
run_analysis.bat
*.dot
*.pdf
*.svg
*.html
*.ipynb
*.log
*.out
*.aux
*.gz
*.fai
*.dict
*.nhr
*.nin
*.nsq
*.bam
*.bai
*.sam
*.vcf
*.bcf
*.csi
ExperimentalScripts/
AnalysisMd/